{% extends 'core/base.html' %}
{% block main %}
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-flex"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <form method="post" class="user">
                        {% csrf_token %}

                            {% block form %}

                            {% endblock %}
                        <hr>
                        <hr>
                    </form>
                {% block link %}

                {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
