{% extends 'core/base.html' %}
{% block title %}
webstore - orders
{% endblock %}

{% block main %}
<div class="shopping-cart">
<div class="px-4 px-lg-0">

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Id</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Date</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Total</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Status</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {%for order in order_list %}
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="{% url 'order_detail' order.pk %}">{{ order.pk }}</a> </h5>
                      </div>
                    </div>
                  </th>
                    <td class="border-0 align-middle"><strong>{{order.date}}</strong></td>
                  <td class="border-0 align-middle">
                     <strong>{{ order.total }} $</strong>
                  </td>
                  <td class="border-0 align-middle">
                    <strong>{{order.get_status_display}}</strong>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

    {% include 'core/paginator.html' %}

{% endblock %}
