{% extends "core/base.html" %}
{% block main %}
    <center>
        <form method="post" class="user w-50 center-block">
            {% csrf_token %}
            <div class="mb-3"><input class="form-control form-control-user" type="password" id="InputUsername"
                                     aria-describedby="emailHelp" placeholder="Old password" name="old_password"></div>
            <div class="row mb-3">
                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password"
                                                          id="InputUsername" aria-describedby="emailHelp"
                                                          placeholder="New password" name="new_password1"></div>
                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="InputUsername"
                                             aria-describedby="emailHelp" placeholder="Repeat password"
                                             name="new_password2"></div>
            </div>
            <button class="btn btn-primary d-block btn-user w-100" type="submit">Change password</button>
            <hr>
            <hr>
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
        </form>
    </center>

{% endblock %}