{% extends "core/base.html" %}

{% block title %}
    webstore - account settings
{% endblock %}

{% block main %}
    <div class="container-fluid">
    <h3>Hi {{ customer.firstname }} {{ customer.lastname }}</h3>
        {{ form_errors }}
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="customer_form">
                <div class="row">
                    <div class="col">
                        <div class="mb-3"><label class="form-label" for="username"><strong>First name</strong></label><br><input class="form-control" type="text" name="firstname" value="{{ customer.firstname }}"></div>
                    </div>
                    <div class="col">
                        <div class="mb-3"><label class="form-label" for="username"><strong>Last name</strong></label><br><input class="form-control" type="text" name="lastname" value="{{ customer.lastname }}"></div>
                    </div>
                    <div class="col">
                        <div class="mb-3"><label class="form-label" for="username"><strong>Phone number</strong></label><br><input class="form-control" type="text" name="phone_number" value="{{ customer.phone_number }}"></div>
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save personal information</button></div>
            </form>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="col-6">
                    <div class="mb-3"><label class="form-label" for="username"><strong>First name</strong></label><br><input class="form-control" type="text" name="firstname" value="{{ customer_address.firstname }}"></div>
                    <div class="mb-3"><label class="form-label" for="username"><strong>Last name</strong></label><br><input class="form-control" type="text" name="lastname" value="{{ customer_address.lastname }}"></div>
                    <div class="mb-3"><label class="form-label" for="username"><strong>City</strong></label><br><input class="form-control" type="text" name="city" value="{{ customer_address.city }}"></div>
                    <div class="mb-3"><label class="form-label" for="username"><strong>Post code</strong></label><br><input class="form-control" type="text" name="postcode" value="{{ customer_address.postcode }}"></div>
                    <div class="mb-3"><label class="form-label" for="username"><strong>Street</strong></label><br><input class="form-control" type="text" name="street" value="{{ customer_address.street }}"></div>
                    <div class="mb-3"><label class="form-label" for="username"><strong>House number</strong></label><br><input class="form-control" type="text" name="house_number" value="{{ customer_address.house_number }}"></div>
                </div>
                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save delivery address</button></div>
            </form>
        </div>

        <div class="card shadow mb-5">
            <div class="card-header text-start d-xl-flex justify-content-xl-start align-items-xl-center py-3">
                <a href="{% url 'change_password' %}" style="text-decoration: none; color: white" class="btn btn-primary" type="button" style="margin: 0;margin-right: 20px;margin-left: 20px;">Change password</a>
                <a href="{% url 'account_delete' %}" style="text-decoration: none; color: white" class="btn btn-danger" type="submit" style="margin-right: 20px;">Remove account</a>
            </div>
        </div>

        <h4><a href="{% url 'order_list' %}"> Your orders</a></h4>
    </div>
{% endblock %}